* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(51, 51, 51);
  background: rgb(255, 255, 255);
}

a {
  color: inherit;
  text-decoration: none;
}
